{% block export_select %}
    <div class="dropdown btn-group oeh-dropdown meta-export-select">
        <a href="#" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
            <i class="icon-upload fa fa-upload fa-arrow-circle-o-up export-icon"></i>
            {{ _("Export metadata")}}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>{% snippet "snippets/json_export.html", pkg=pkg %}</li>
            <li>{% snippet "snippets/gmd_export.html", pkg=pkg %}</li>
            <li>{% snippet "snippets/html_export.html", pkg=pkg %}</li>
            <li>{% snippet "snippets/pdf_export.html", pkg=pkg %}</li>
        </ul>
    </div>
{% endblock %}
