{% block export_select %}
    <div class="dropdown btn-group oeh-dropdown meta-export-select">
        <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <!-- <img class="upload-img" src="{{ g.site_url }}/fa-upload.png" alt=""> -->
          <i class="icon-upload fa fa-arrow-circle-o-up export-icon"></i>
          Export metadata
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                {% snippet "snippets/json_export.html", pkg=pkg %}
            </li>
            <li>
                {% snippet "snippets/gmd_export.html", pkg=pkg %}
            </li>
            <li>
                {% snippet "snippets/html_export.html", pkg=pkg %}
            </li>
            <li>
                {% snippet "snippets/pdf_export.html", pkg=pkg %}
            </li>

        </ul>
    </div>
{% endblock %}
